@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&family=Roboto&family=Squada+One&display=swap');

:root{
    --azul: #1180E6;
    --cinza: #B0A3A3;
    --preto: #000000;
    --laranja: #F2890D;
}

*{
    margin: 0;
    padding: 0;
    text-decoration: none;
}

body{
    background: var(--laranja);
    width: 100%;
    height: 1024px;
    display: flex;
    justify-content: center;
    margin-top: 230px;
}

main{
    max-width: 1084px;
    width: 100%;
    margin: auto;
    margin: 15px;
    margin-bottom: 90px;
}

.conteudo{
    display: flex;
    align-content: center;
    flex-wrap: wrap;
}

.infos{
    display: flex;
    flex-wrap: wrap;
}

.jogadorCondicoes{
    height: 570px;
    padding: 0px 100px 65px 80px;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
}

fieldset{
    border: 1px solid white;
    border-radius: 30px;
    text-align: center;
    background: white;
    flex-wrap: wrap;
}

legend{
    font-family: 'Squada One';
    text-transform: uppercase;
    font-weight: 400;
    font-size: 70px;
    border: 1px solid var(--azul);
    background: var(--azul);
    border-radius: 20px;
    padding: 40px 50px;
}

.imagem{
    height: 200px;
    width: 200px;
    align-self: center;
}

#txt{
    font-family: 'Press Start 2P';
    align-self: flex-start;
    font-size: 18px;
}

#txt2{
    font-family: 'Press Start 2P';
    align-self: flex-start;
    font-size: 18px;
    margin-top: 60px;
}


input{
    font-family: 'Press Start 2P';
    width: 350px;
    height: 45px;
    border: 2px solid var(--cinza);
    border-radius: 5px;
    font-size: 25px;
    text-align: center;
}

#opcoes{
    width: 350px;
    height: 45px;
    font-size: 20px;
    text-align: center;
    border: 2px solid var(--cinza);
    border-radius: 5px;
}

.comecar{
    font-family: 'Press Start 2P';
    text-transform: uppercase;
    font-size: 20px;
    height: 45px;
    width: 200px;
    border: 3px solid black;
    background: var(--cinza);
    cursor: pointer;
    color: white;
    border-radius: 20px;
    margin-top: 70px;
}

.jogo{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    font-family: 'Roboto';
    font-size: 25px;
    align-self: center;
    border-left: 5px solid var(--cinza);
    background: white;
    height: 500px;
    width: 540px;
}

.regras p{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
}

#txt3{
    font-family: 'Press Start 2P';
    font-size: 20px;
    margin-top: 40px;
    line-height: 50px;
}

.jogar{
    font-family: 'Press Start 2P';
    text-transform:uppercase;
    font-size: 20px;
    height: 45px;
    width: 200px;
    border: 3px solid black;
    background: var(--cinza);
    cursor: pointer;
    color: white;
    border-radius: 20px;
    margin-top: 10px;
}

.reset{
    display: none;
    font-family: 'Press Start 2P';
    text-transform:uppercase;
    font-size: 20px;
    height: 45px;
    width: 200px;
    border: 3px solid black;
    background: #4caf50;
    cursor: pointer;
    color: white;
    border-radius: 20px;
    margin-top: 10px;
}

.resultado{
    margin-top: 50px;
}

/* tablet To Do */

@media(max-width:428px){
    body{
        margin-top: 60px;
        height: 1190px;
        margin-bottom: 300px;
    }

    .infos{
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
    }

    .jogadorCondicoes{
        display: flex;
        align-items: center;
        padding: 0;
    }

    .linha{
        width: 70%;
        border-top: 5px solid var(--cinza);
        margin-bottom: 30px;
    }

    .jogo{
        width: 100%;
        height: 600px;
        border-left: none;
        margin: 20px;
    }

    #txt3{
        font-size: 17px;
    }

    input{
        width: 300px;
        height: 45px;
        border: 2px solid var(--cinza);
        border-radius: 5px;
        font-size: 25px;
        text-align: center;
    }

    #opcoes{
        width: 300px;
        height: 45px;
        font-size: 20px;
    }
}